* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    font-size: 16px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translateX(70px);
}

.nav-center input {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    height: 40px;
    width: 320vw;
    max-width: 400px;
    min-width: 240px;
    flex: 1;
    justify-content: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    color: #1db954;
}

.loginButton {
    background-color: white;
    color: black;
    padding: 16px 23px;
    border-radius: 30px;
    font-weight: 600;
    transition: transform 0.2s ease, background-color  0.2s ease;
    /* margin-left: 20px; */
}

.loginButton:hover {
    background-color: #f0f0f0;
    color: black;
    transform: scale(1.1);
}

.divider {
    width: 2px;
    height: 30px;
    background-color: #444;
    opacity: 0.6;
    margin: 16px;
}