* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    font-size: 16px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translateX(70px);
}

.nav-center input {
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 15px;
    height: 40px;
    /* width: 320vw; */
    max-width: 400px;
    min-width: 240px;
    flex: 1;
    justify-content: center;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    color: #1db954;
}

.loginButton {
    background-color: white;
    color: black;
    padding: 16px 23px;
    border-radius: 30px;
    font-weight: 600;
    transition: transform 0.2s ease, background-color  0.2s ease;
    /* margin-left: 20px; */
}

.loginButton:hover {
    background-color: #f0f0f0;
    color: black;
    transform: scale(1.1);
}

.divider {
    width: 2px;
    height: 30px;
    background-color: #444;
    opacity: 0.6;
    margin: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftPanel {
    width: 27.875em;
    /* padding-left: 10px; */
    background-color: #121212;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    flex: 1;
    padding: 15px;
}

#create{
    background-color: #282828;
    border-radius: 30px;
    padding: 10px 30px;
    align-content: center;
}
#create:hover {
    color: white;
    background-color: rgb(56, 56, 56);
}

#languageSelection {
    padding: 6px 20px;
    border: 1px solid #403f3f;
    border-radius: 30px;
    transition: transform 0.2s ease, background-color  0.2s ease;   
}

#languageSelection:hover {
    color: white;
    border-color: #f0f0f0;
    transform: scale(1.03);
}

#playlistArea {
    flex: 1;
    overflow-y: auto;
}

#leftPanel footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 18px;
    font-size: 13px;
}

.footerLinks a {
    text-decoration: none;
    color: #b3b3b3;
}